/mvnw text eol=lf
*.cmd text eol=crlf
# Application properties
 src/main/resources/application.properties

 # Environment specific properties (dev, prod, etc.)
 src/main/resources/application-*.properties

 # But DON'T ignore the template example file!
 # !src/main/resources/application.properties.example